.facebook-shortcuts {
    &-shortcut {
        @extend %content-component;
        i {
            color: $active-color;
            font-size: 1.4rem;
        }
    }
}
.seperator {
    border-top: 1px solid #ccc;
    padding: $primary-padding 0;
    margin: $primary-margin;
}
.facebook-favorites {
    &-favorite {
        @extend %content-component;
        .favorite-image {
            img {
                @include img_rounded(40);
            }
        }
    }
}
