nav {
    background-color: white;
    @include flex(space-between, center);
    box-shadow: 0 rem(3) rem(8) #0000000d;
    & .nav-left {
        flex: 25% 0 0;
        background-color: beige;
        max-width: $sidebar-width;
    }
    & .nav-middle {
        flex: 50% 0 0;
        background-color: aqua;
        max-width: $feed-width;
    }
    & .nav-right {
        flex: 25% 0 0;
        background-color: beige;
        max-width: $sidebar-width;
    }
}