nav {
    background-color: white;
    @include flex(space-between, center);
    box-shadow: 0 rem(3) rem(8) #0000000d;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    & .nav-left {
        flex: 25% 0 0;
        max-width: $sidebar-width;
    }
    & .nav-middle {
        flex: 50% 0 0;
        max-width: $feed-width;
    }
    & .nav-right {
        flex: 25% 0 0;
        max-width: $sidebar-width;
    }

    .facebook-icons {
        @include flex(center, center);
        font-size: 1.8rem;
        color: $icon-color;

        .active {
            color: $active-color;
        }

        &-icon {
            margin: rem(10) rem(35);
        }
    }

    .facebook-services {
        @include flex(center, center);

        .img-rounded {
            @include img_rounded(40);
        }

        &-service {
            @include flex(center, center);
            @include circle-icon(40);
            background-color: $icon-background-color;
            font-size: 1.4rem;
        }
    }
}