.page-content {
    @include flex(space-between, top);
    padding: $primary-padding;
    &-left {
        flex: 25% 0 0;
        max-width: $sidebar-width;
    }
    &-middle {
        flex: 50% 0 0;
        background-color: aqua;
        max-width: $feed-width;
    }
    &-right {
        flex: 25% 0 0;
        background-color: beige;
        max-width: $sidebar-width;
    }
}
