<h2>Sponsored</h2>
<div class="facebook-sponsers">
    <div class="facebook-sponsores-sponsor">
        <img src="/assets/images/sponsor1.png" alt="sponsor1 image" class="facebook-sponsores-sponsor-image">
        <span class="facebook-sponsores-sponsor-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem aliquid nesciunt earum quam porro laboriosam ratione corrupti facilis dicta placeat modi commodi ullam ipsam ex fugiat aspernatur, dolorem beatae assumenda!</span>
    </div>
    <div class="facebook-sponsores-sponsor">
        <img src="/assets/images/sponsor2.jpg" alt="sponsor2 image" class="facebook-sponsores-sponsor-image">
        <span class="facebook-sponsores-sponsor-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum officia molestiae minima unde, dolorem tempora cupiditate vel voluptas vitae placeat architecto! Quas iste quibusdam sint odio laborum quaerat hic rem.</span>
    </div>
</div>

<h4 class="seperator">Your Pages</h4>
<div class="facebook-pages">
    <div class="facebook-pages-page">
        <img src="/assets/images/adobe-illustrator.png" alt="page image" class="facebook-pages-page-image">
        <span class="facebook-pages-page-text">Adobe Ilustrator</span>
    </div>
    <div class="facebook-pages-page">
        <img src="/assets/images/indesign.png" alt="page image" class="facebook-pages-page-image">
        <span class="facebook-pages-page-text">Adobe Indesign</span>
    </div>
    <div class="facebook-pages-page">
        <img src="/assets/images/photoshop.png" alt="page image" class="facebook-pages-page-image">
        <span class="facebook-pages-page-text">Adobe Photoshop</span>
    </div>
</div>

<h4 class="seperator">Contacts</h4>
<div class="facebook-contacts">
    <div class="facebook-contacts-contact">
        <img src="/assets/images/adobe-illustrator.png" alt="contact image" class="facebook-contacts-contact-image">
        <span class="facebook-contacts-contact-text">name</span>
    </div>
    <div class="facebook-contacts-contact">
        <img src="/assets/images/indesign.png" alt="contact image" class="facebook-contacts-contact-image">
        <span class="facebook-contacts-contact-text">name</span>
    </div>
    <div class="facebook-contacts-contact">
        <img src="/assets/images/photoshop.png" alt="contact image" class="facebook-contacts-contact-image">
        <span class="facebook-contacts-contact-text">name</span>
    </div>
</div>
