<h2>Sponsored</h2>
<div class="facebook-sponsers">
    <div class="facebook-sponsers-sponsor">
        <img src="/assets/images/sponsor1.png" alt="sponsor1 image" class="facebook-sponsers-sponsor-image">
        <span class="facebook-sponsers-sponsor-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusantium illum cum consequuntur commodi vitae!</span>
    </div>
    <div class="facebook-sponsers-sponsor">
        <img src="/assets/images/sponsor2.jpg" alt="sponsor2 image" class="facebook-sponsers-sponsor-image">
        <span class="facebook-sponsers-sponsor-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum modi assumenda eum ipsam possimus accusantium!.</span>
    </div>
</div>

<h4 class="seperator">Your Pages</h4>
<div class="facebook-pages">
    <div class="facebook-pages-page">
        <img src="/assets/images/adobe-illustrator.png" alt="page image" class="facebook-pages-page-image">
        <span class="facebook-pages-page-text">Adobe Ilustrator</span>
    </div>
    <div class="facebook-pages-page">
        <img src="/assets/images/indesign.png" alt="page image" class="facebook-pages-page-image">
        <span class="facebook-pages-page-text">Adobe Indesign</span>
    </div>
    <div class="facebook-pages-page">
        <img src="/assets/images/photoshop.png" alt="page image" class="facebook-pages-page-image">
        <span class="facebook-pages-page-text">Adobe Photoshop</span>
    </div>
</div>

<h4 class="seperator">Contacts</h4>
<div class="facebook-contacts">
    <div class="facebook-contacts-contact">
        <img src="/assets/images/adem.jpg" alt="contact image" class="facebook-contacts-contact-image">
        <span class="facebook-contacts-contact-text">Adem</span>
    </div>

    <div class="facebook-contacts-contact">
        <img src="/assets/images/youssef.jpg" alt="contact image" class="facebook-contacts-contact-image">
        <span class="facebook-contacts-contact-text">Youssef</span>
    </div>

    <div class="facebook-contacts-contact">
        <img src="/assets/images/malek.jpg" alt="contact image" class="facebook-contacts-contact-image">
        <span class="facebook-contacts-contact-text">Malek</span>
    </div>

    <div class="facebook-contacts-contact">
        <img src="/assets/images/emna.jpg" alt="contact image" class="facebook-contacts-contact-image">
        <span class="facebook-contacts-contact-text">Emna</span>
    </div>
    
    <div class="facebook-contacts-contact">
        <img src="/assets/images/ranim.jpg" alt="contact image" class="facebook-contacts-contact-image">
        <span class="facebook-contacts-contact-text">Ranim</span>
    </div>

    <div class="facebook-contacts-contact">
        <img src="/assets/images/nourhene.jpg" alt="contact image" class="facebook-contacts-contact-image">
        <span class="facebook-contacts-contact-text">Nourhene</span>
    </div>

    <div class="facebook-contacts-contact">
        <img src="/assets/images/ranya.jpg" alt="contact image" class="facebook-contacts-contact-image">
        <span class="facebook-contacts-contact-text">Ranya</span>
    </div>

    <div class="facebook-contacts-contact">
        <img src="/assets/images/yassine.jpg" alt="contact image" class="facebook-contacts-contact-image">
        <span class="facebook-contacts-contact-text">Yassine</span>
    </div>
    
    <div class="facebook-contacts-contact">
        <img src="/assets/images/haykel.jpg" alt="contact image" class="facebook-contacts-contact-image">
        <span class="facebook-contacts-contact-text">Haykel</span>
    </div>

    <div class="facebook-contacts-contact">
        <img src="/assets/images/oussema.jpg" alt="contact image" class="facebook-contacts-contact-image">
        <span class="facebook-contacts-contact-text">Oussema</span>
    </div>

    <div class="facebook-contacts-contact">
        <img src="/assets/images/nour.jpg" alt="contact image" class="facebook-contacts-contact-image">
        <span class="facebook-contacts-contact-text">Nour</span>
    </div>
</div>
