<div class="wrapper">
    <div class="stories">
        <div class="story">
            <img src="/assets/images/me.jpg" alt="user image">
            <div class="story-username">Amine Khalfoui</div>
        </div>
        <div class="story">
            <img src="/assets/images/me.jpg" alt="user image">
            <div class="story-username">Nour Khalfaoui</div>
        </div>
        <div class="story">
            <img src="/assets/images/me.jpg" alt="user image">
            <div class="story-username">Nourhene Ben Othmen</div>
        </div>
        <div class="story">
            <img src="/assets/images/me.jpg" alt="user image">
            <div class="story-username">Youssef Ben Younes</div>
        </div>
        <div class="story">
            <img src="/assets/images/me.jpg" alt="user image">
            <div class="story-username">Yassine Gharssali</div>
        </div>
        <div class="story">
            <img src="/assets/images/me.jpg" alt="user image">
            <div class="story-username">Oussema Ayeda</div>
        </div>
    </div>
</div>