<h2>Sponsored</h2>
<div class="facebook-sponsers">
    <div class="facebook-sponsers-sponsor">
        <img src="/assets/images/sponsor1.png" alt="sponsor1 image" class="facebook-sponsers-sponsor-image">
        <span class="facebook-sponsers-sponsor-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusantium illum cum consequuntur commodi vitae!</span>
    </div>
    <div class="facebook-sponsers-sponsor">
        <img src="/assets/images/sponsor2.jpg" alt="sponsor2 image" class="facebook-sponsers-sponsor-image">
        <span class="facebook-sponsers-sponsor-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum modi assumenda eum ipsam possimus accusantium!.</span>
    </div>
</div>

<h4 class="seperator">Your Pages</h4>
<div class="facebook-pages">
    <div class="facebook-pages-page">
        <img src="/assets/images/adobe-illustrator.png" alt="page image" class="facebook-pages-page-image">
        <span class="facebook-pages-page-text">Adobe Ilustrator</span>
    </div>
    <div class="facebook-pages-page">
        <img src="/assets/images/indesign.png" alt="page image" class="facebook-pages-page-image">
        <span class="facebook-pages-page-text">Adobe Indesign</span>
    </div>
    <div class="facebook-pages-page">
        <img src="/assets/images/photoshop.png" alt="page image" class="facebook-pages-page-image">
        <span class="facebook-pages-page-text">Adobe Photoshop</span>
    </div>
</div>

<h4 class="seperator">Contacts</h4>
<div class="facebook-contacts">
    <div class="facebook-contacts-contact">
        <img src="/assets/images/adobe-illustrator.png" alt="contact image" class="facebook-contacts-contact-image">
        <span class="facebook-contacts-contact-text">name</span>
    </div>
    <div class="facebook-contacts-contact">
        <img src="/assets/images/indesign.png" alt="contact image" class="facebook-contacts-contact-image">
        <span class="facebook-contacts-contact-text">name</span>
    </div>
    <div class="facebook-contacts-contact">
        <img src="/assets/images/photoshop.png" alt="contact image" class="facebook-contacts-contact-image">
        <span class="facebook-contacts-contact-text">name</span>
    </div>
</div>
