<div class="wrapper">
    <ul class="facebook-shortcuts">
        <li class="facebook-shortcuts-shortcut">
            <i class="ri-user-fill"></i>
            <span>Freinds</span>
        </li>
        <li class="facebook-shortcuts-shortcut">
            <i class="ri-group-2-line"></i>
            <span class="facebook-shortcuts-shortcut-text">Groups</span>
        </li>
        <li class="facebook-shortcuts-shortcut">
            <i class="ri-movie-line"></i>
            <span class="facebook-shortcuts-shortcut-text">Watch</span>
        </li>
        <li class="facebook-shortcuts-shortcut">
            <i class="ri-store-2-line"></i>
            <span class="facebook-shortcuts-shortcut-text">Marketplace</span>
        </li>
        <li class="facebook-shortcuts-shortcut">
            <i class="ri-history-fill"></i>
            <span class="facebook-shortcuts-shortcut-text">Memories</span>
        </li>
    </ul>

    <hr width="75%">

    <h4>Your Shortcuts</h4>
    <ul class="facebook-favorites">
        <li class="facebook-favorites-favorite">
            <div class="favorite-image">
                <img src="/assets/images/shortcuts_image1.jpg" alt="">
            </div>
            <span class="favorite-text">Be Coder</span>
        </li>
        <li class="facebook-favorites-favorite">
            <div class="favorite-image">
                <img src="/assets/images/shortcuts_image2.jpg" alt="">
            </div>
            <span class="favorite-text">🇹🇳لمة تونسية🇹🇳</span>
        </li>
        <li class="facebook-favorites-favorite">
            <div class="favorite-image">
                <img src="/assets/images/shortcuts_image3.jpg" alt="">
            </div>
            <span class="favorite-text">ISSTE Borj Cedria : Groupe Officiel - UGTE</span>
        </li>
    </ul>
</div>